.barChart{
  display: table;
  width: 400px;
  height:400px;
  align-content:center;
  margin: 0 auto;
  .col-xs-6{
    float: none;
    display: table-cell;
    vertical-align: bottom;
    .colorBar{
      display: inline-block;
      border-radius: 22%;
      width: 120px;
      div{
        font-size: 3em;
        margin-top: 25px;
      }
    }
    .colorBarTitle{
      font-size: 1.5em;
      margin: 1em
    }
  }
}

